*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(27, 113, 119);
    text-align: center;
    
}

h1{
    color: rgb(14, 62, 7);
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

    }

.Game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.2vmin;
}

.btn{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1vmin;
    border: none;
    font-size: 8vmin;
    background-color: bisque;
    color: rgb(20, 100, 239);
}

.Reset{
    background-color: rgb(146, 5, 5);
    color: beige;
    padding: 1vmin;
    border-radius: 1.2vmin;
    border: none;
}

#new-btn{
    background-color: rgb(170, 31, 107);
    color: beige;
    padding: 1vmin;
    border-radius: 1.2vmin;
    border: none;
}

#msg{
    color: rgb(225, 215, 25);
    font-size: 8vmin;
}

.msg-container{
    height: 16vmin;
}
.hide{
    display: none;
}